$waybar-bg: rgba(50, 50, 50, 0.9);
$element-bg: rgba(255, 255, 255, 0.7);
$element-fg: #000;
$exterior-border: 20px;
$interior-border: 3px;

/* apply a color tint */
$color-tint: #f00;
$waybar-bg: mix($color-tint, $waybar-bg, 10%);
$element-bg: mix($color-tint, $element-bg, 60%);

/* General appearance */
* {
  font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", monospace;
  font-size: 12px;
  border-radius: $exterior-border;
  }

/* Tab appearance */
window#waybar {
  background-color: $waybar-bg;
}

tooltip {
  background-color: $waybar-bg;
  color: $element-fg;
  border-radius: 10px;
}

#workspaces * {
  color: $element-fg;
}

#custom-wayves_left,
#custom-wayves_right,
#custom-wayves_cat,
#workspaces,
#clock,
#pulseaudio,
#battery,
#bluetooth,
#network {
  color: $element-fg;
  background: $element-bg;
  margin: 2px;
  padding: 2px 10px; }

/* left ends */
#battery,
#custom-wayves_left,
#custom-wayves_cat
{
  border-radius: 
    $exterior-border 
    $interior-border 
    $interior-border
    $exterior-border;
    margin-right: 1px;
}

/* middle pieces */
#pulseaudio,
#clock,
#bluetooth
{
  border-radius: 
    $interior-border;
  margin-right: 1px;
  margin-left: 1px;
}

/* left ends */
#custom-wayves_right,
#workspaces,
#network 
{
  border-radius: 
    $interior-border 
    $exterior-border 
    $exterior-border 
    $interior-border;
  margin-left: 1px;
}

/* clickable elements animations */
#pulseaudio,
#bluetooth,
#network {
  transition: background-color 0.25s;
}

#pulseaudio:hover,
#bluetooth:hover,
#network:hover{
  background-color: mix($color-tint, white, 5%);
}
